<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.mapper.PersonMapper">
    <select id="personList" resultType="com.hrm.entity.PersonListForm" >
        select a.person_id,b.comp_id,b.comp_name,b.dept_id,b.dept_name,a.person_no,a.person_name,a.person_sex,a.person_tel,a.person_degree,a.person_polity,a.person_state
        from t_person_main a inner join (select a.dept_id as comp_id,a.dept_name as comp_name,b.dept_id,b.dept_name from t_dept_main a inner join t_dept_main b on a.dept_id=b.dept_lv) b
        on a.dept_id=b.dept_id where 1=1
        <if test="params.deptName!=null and params.deptName!=''">
            and a.dept_id = (select dept_id from t_dept_main where dept_name like '%' #{params.deptName} '%' limit 1)
        </if>
        <if test="params.personName!=null and params.personName!=''">
            and a.person_name like '%' #{params.personName} '%'
        </if>
        <if test="params.personState!=null and params.personState!=''">
            and a.person_state = #{params.personState}
        </if>
    </select>
    <select id="personDet" resultType="com.hrm.entity.PersonDetForm" >
        select a.person_id,b.comp_id,b.comp_name,b.dept_id,b.dept_name,a.person_no,a.person_name,a.person_sex,a.person_tel,a.person_addr,a.person_degree,a.person_polity,a.person_state
        from t_person_main a inner join (select a.dept_id as comp_id,a.dept_name as comp_name,b.dept_id,b.dept_name from t_dept_main a inner join t_dept_main b on a.dept_id=b.dept_lv) b
        on a.dept_id=b.dept_id where a.person_id=#{personId}
    </select>
    <insert id="insertPerson">
        insert into t_person_main(dept_id,person_no,person_name,person_sex,person_tel,person_addr,person_degree,person_polity,person_note,person_state)
        values(#{params.deptId},#{params.personNo},#{params.personName},#{params.personSex},#{params.personTel},#{params.personAddr},#{params.personDegree}
        ,#{params.personPolity},#{params.personNote},#{params.personState})
    </insert>
    <update id="updatePerson">
        update t_person_main set dept_id=#{params.deptId},person_no=#{params.personNo},person_name=#{params.personName},person_sex=#{params.personSex}
        ,person_tel=#{params.personTel},person_addr=#{params.personAddr},person_degree=#{params.personDegree},person_polity=#{params.personPolity}
        ,person_note=#{params.personNote},person_state=#{params.personState} where person_id=#{params.personId}
    </update>
    <delete id="deletePerson">
        delete from t_person_main where person_id=#{personId}
    </delete>
    <select id="compDict" resultType="com.hrm.entity.PersonDetForm" >
        select dept_id as comp_id,dept_name as comp_name from t_dept_main where dept_lv=0
    </select>
    <select id="deptDict" resultType="com.hrm.entity.PersonDetForm" >
        select dept_id,dept_name from t_dept_main where dept_lv!=0
    </select>
</mapper>