<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idcmis.mapper.ServerMapper">
    <select id="serverList" resultType="com.idcmis.entity.ServerListForm" >
        select a.server_id,a.server_room,a.server_cabinet,a.server_number,a.server_name,a.server_config,a.server_ip,a.backup_ip
        ,a.server_state,date(a.begin_date) as begin_date,date(a.end_date) as end_date,a.server_price,a.server_cost,a.server_profit
        ,a.server_arrears,b.custom_name,b.custom_tel,b.custom_qq,b.custom_ww,a.server_remark from t_server_main a inner join
        t_custom_main b on a.custom_id=b.custom_id where 1=1
        <if test="params.serverRoom!=null and params.serverRoom!=''">
            and a.server_room like '%' #{params.serverRoom} '%'
        </if>
        <if test="params.serverCabinet!=null and params.serverCabinet!=''">
            and a.server_cabinet like '%' #{params.serverCabinet} '%'
        </if>
        <if test="params.serverName!=null and params.serverName!=''">
            and a.server_name like '%' #{params.serverName} '%'
        </if>
        <if test="params.serverState!=null and params.serverState!=''">
            and a.server_state = #{params.serverState}
        </if>
    </select>
    <select id="serverDet" resultType="com.idcmis.entity.ServerDetForm" >
        select a.server_id,a.server_room,a.server_cabinet,a.server_number,a.server_name,a.server_config,a.server_ip,a.backup_ip
        ,a.server_state,date(a.begin_date) as begin_date,date(a.end_date) as end_date,a.server_price,a.server_cost,a.server_profit
        ,a.server_arrears,b.custom_name,b.custom_tel,b.custom_qq,b.custom_ww,a.server_remark from t_server_main a inner join
        t_custom_main b on a.custom_id=b.custom_id where a.server_id=#{serverId}
    </select>
</mapper>