<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.mapper.ServerMapper">
    <select id="serverList" resultType="com.hrm.entity.ServerListForm" >
        select a.server_id,a.server_room,a.server_cabinet,a.server_number,a.server_name,a.server_config,a.server_ip,a.backup_ip
        ,a.server_state,a.begin_date,a.end_date,a.server_price,a.server_cost,a.server_profit,a.server_arrears,b.customer_name
        ,b.customer_tel,b.customer_qq,b.customer_ww,a.server_remark from t_server_main a inner join t_customer_main b on
        a.customer_id=b.customer_id where 1=1
        <if test="params.serverRoom!=null and params.serverRoom!=''">
            and a.server_room like '%' #{params.serverRoom} '%'
        </if>
        <if test="params.serverCabinet!=null and params.serverCabinet!=''">
            and a.server_cabinet like '%' #{params.serverCabinet} '%'
        </if>
        <if test="params.serverName!=null and params.serverName!=''">
            and a.server_name like '%' #{params.serverName} '%'
        </if>
        <if test="params.serverState!=null and params.serverState!=''">
            and a.server_state = #{params.serverState}
        </if>
    </select>
    <select id="serverDet" resultType="com.hrm.entity.ServerDetForm" >
        select a.server_id,a.server_room,a.server_cabinet,a.server_number,a.server_name,a.server_config,a.server_ip,a.backup_ip
        ,a.server_state,a.begin_date,a.end_date,a.server_price,a.server_cost,a.server_profit,a.server_arrears,b.customer_name
        ,b.customer_tel,b.customer_qq,b.customer_ww,a.server_remark from t_server_main a inner join t_customer_main b
        on a.customer_id=b.customer_id where a.server_id=#{serverId}
    </select>
    <insert id="insertServer">
        insert into t_server_main(server_room,server_cabinet,server_number,server_name,server_config,server_ip,backup_ip,server_state
        ,begin_date,end_date,server_price,server_cost,server_profit,server_arrears,server_remark)
        values(#{params.serverRoom},#{params.serverCabinet},#{params.serverNumber},#{params.serverName},#{params.serverConfig},#{params.serverIp}
        ,#{params.backupIp},#{params.serverState},#{params.beginDate},#{params.endDate},#{params.serverPrice},#{params.serverCost}
        ,#{params.serverProfit},#{params.serverArrears},#{params.serverRemark})
    </insert>
    <update id="updateServer">
        update t_server_main set server_room=#{params.serverRoom},server_cabinet=#{params.serverCabinet},server_number=#{params.serverNumber}
        ,server_name=#{params.serverName},server_config=#{params.serverConfig},server_ip=#{params.serverIp},backup_ip=#{params.backupIp}
        ,server_state=#{params.serverState},begin_date=#{params.beginDate},end_date=#{params.endDate},server_price=#{params.serverPrice}
        ,server_cost=#{params.serverCost},server_profit=#{params.serverProfit},server_arrears=#{params.serverArrears},server_remark=#{params.serverRemark}
        where server_id=#{params.serverId}
    </update>
    <delete id="deleteServer">
        delete from t_server_main where server_id=#{serverId}
    </delete>
</mapper>