<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idcmis.mapper.UserMapper">
    <select id="login" resultType="com.idcmis.entity.LoginForm" >
        select * from t_user_main where user_code=#{userCode} and user_pwd=#{userPwd}
    </select>
    <select id="userList" resultType="com.idcmis.entity.UserListForm" >
        select user_id,user_code,user_pwd,user_name,user_type,user_state from t_user_main where 1=1
        <if test="params.userName!=null and params.userName!=''">
            and a.user_name like '%' #{params.userName} '%'
        </if>
        <if test="params.userState!=null and params.userState!=''">
            and a.user_state=#{params.userState}
        </if>
    </select>
    <select id="selDet" resultType="com.idcmis.entity.UserDetForm">
        select t.user_id,t.user_no,t.user_name,t.user_sex,t.user_tel,t.user_cornet,t.user_offcall,t.user_idcard,t.user_homeaddr,t.user_hometel
        ,t.user_edu,t.user_degree,t.user_school,t.user_major,t.user_polity,t.user_politime,t.user_prop,t.user_jointime,t.dept_id,t.user_duty
        ,t.part_id,t.majo_id,t.user_prof,t.user_topcert,t.user_CPK,t.user_paymonth,(case when length(t.user_idcard)='18' then year(SYSDATE())-SUBSTR(t.user_idcard,7,4)
        else null end) as user_age,t.user_offaddr,t.user_note,t.role_name,t.user_state from t_sys_user t where t.user_id = #{userId}
    </select>
</mapper>